#map {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#logo {
    background-image: url('../img/logo-small.png');
    position: absolute;
    top: 0px;
    right: 0px;
    width: 138px;
    height: 70px;
    z-index: 100;
}

#nav nav {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}
